@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #0d0c0c;
    --color-secondary: #292929;
    --color-accent: #EE441C;

    --font-geist-sans: 'Geist', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
    --font-outfit: 'Outfit', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-satoshi: 'Satoshi', sans-serif;
    --font-quicksand: 'Quicksand', sans-serif;
}

@layer base {
    body {
        background-color: var(--color-primary);
        font-family: 'Inter', sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
    }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.flight-plan-grid {
  @apply grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] gap-4 mb-4;
}

.form-control {
  @apply p-3 border-2 border-gray-200 rounded-lg text-base transition-transform duration-300 ease-in-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cardbase {
  @apply relative w-full rounded-[14px] p-10 overflow-hidden bg-gradient-to-b from-neutral-800/50 to-primary shadow-xl border border-neutral-800 transition-transform duration-300 ease-in-out;
}

@keyframes shineMove {
    0% {
        transform: translateX(-100%) translateY(-100%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) translateY(100%) rotate(45deg);
    }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
